-r requirements.txt
attrs==22.2.0
eradicate==2.2.0
exceptiongroup==1.1.0
flake8==5.0.4
flake8-annotations-coverage==0.0.6
flake8-blind-except==0.2.1
flake8-commas==2.1.0
flake8-comprehensions==3.10.1
flake8-docstrings==1.7.0
flake8-eradicate==1.4.0
flake8-quotes==3.3.2
flake8-unused-arguments==0.0.13
mccabe==0.7.0
mypy==1.0.1
mypy-extensions==1.0.0
packaging==23.0
pluggy==1.0.0
pycodestyle==2.9.1
pydocstyle==6.3.0
pyflakes==2.5.0
pytest==7.2.1
snowballstemmer==2.2.0
tomli==2.0.1
