{% extends 'baze.html' %}

{% block content %}
<div class="login-form login">
  <h1><b>{{ page_title }}</b></h1>
  <form action="{{ url_for('user.process_login') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label }}
      {{ form.username() }}
    </div>
    <div class="mb-3">
      {{ form.password.label }}
      {{ form.password() }}
    </div>            
    <div class="mb-3 form-check">
      {{ form.remember_me() }}
      {{ form.remember_me.label(class_='form-check-label') }}
    </div>
    {{ form.submit() }}
  </form>
</div>
{% endblock %}