<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img class="logo" src="../static/img/logo.png" alt="logo" width="90" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link site-nav-item" href="/">Главная страница</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link site-nav-item" href="/">Моя полка</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link site-nav-item" href="/">Искать книгу</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('user.login') }}">Войти</a>
        </li>
      </ul>
    </div>
</nav>
