.active {
    padding:0 50px;
}

.alert {
    margin-top: 20px;
    text-align: center;
}

body {
    background: url('../img/body_pict.jpeg') no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

.bookshelf-main {
    margin-top: 20px;
    height: 750px;
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;
}

.bookshelf-main button {
    margin: 20px 0px;
    width: 150px;
}

.file-input {
    width: 500px;
}

.form-select {
    width: 500px;
    height: 200px;
}

.login {
    background-color: white;
    color: black;
    margin-top: 20px;
    height: 370px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

.mr-auto {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.navbar-light {
    background-color: rgb(206, 141, 56) !important;
}

.register {
    background-color: white;
    color: black;
    margin-top: 20px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

.site-nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #858585;
    text-underline-offset: 27px;
    text-decoration-thickness: 10px;
    text-underline-position: under;
}
