.active {
    padding:0 50px;
}

.alert {
    margin-top: 20px;
    text-align: center;
}

.hero {
    margin: 100px 0;
    background-color: grey;
    text-align: center;
    height: 200px;
    width: 600px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

.hero-magazine {
    position: relative;
    left: 100px;
}

.hero p {
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}

.hero > h1 {
    margin-left: 120px;
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 36px;
}

.hero > .logo {
    position:absolute;
    left: 750px;
}

body {
    background: url('../img/body_pict.jpeg') no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}

.bookshelf-main {
    margin-top: 20px;
    height: 650px;
    background-color: white;
    padding-left: 20px;
    border-radius: 20px;
}

.bookshelf-main button {
    margin: 20px 0px;
    width: 150px;
}

.bookshelf-main p {
    color: grey;
    font-size: 12px;
    margin-top: 10px;
}

.bookshelf-search {
    margin-top: 20px;
    height: 790px;
    background-color: rgb(255, 255, 255);
    padding-top: 20px;
    border-radius: 20px;
    width: 800px;
    text-align: center;
}

.carousel-box {
    width: 750px;
    margin-bottom: 20px;
}

.item {
    height: 370px;
    width: 370px;
    background-color: rgb(255, 206, 132);
    border-radius: 20px;
}

.item > .text1 {
    position: relative;
    right: 60px;
    bottom: 25px;
    background-color: white;
    border-radius: 20px;
    height: 120px;   
    width: 350px;
    font-size: 30px;
    padding-left: 15px;
    border: 1px solid black;
}

.item > .text2 {
    position: relative;
    left: 70px;
    bottom: 25px;
    background-color: white;
    border-radius: 20px;
    height: 120px;   
    width: 350px;
    font-size: 30px;
    padding-left: 15px;
    border: 1px solid black;
}

.img1_1 {
    position: relative;
    left: 80px;
    bottom: 153px;
}

.img1_2 {
    position: relative;
    right: 50px;
    bottom: 70px;
}

.file-input {
    width: 500px;
}

.form-select {
    width: 500px;
    height: 200px;
}

li {
    list-style-type: none
}

.login {
    background-color: white;
    color: black;
    margin-top: 20px;
    height: 370px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

.mr-auto {
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.navbar-light {
    background-color: rgb(206, 141, 56) !important;
}

.register {
    background-color: white;
    color: black;
    margin-top: 20px;
    height: 500px;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
    width: 400px;
}

.row > .search-page-buttons-1 {
    margin: 15px 30px 0px auto;
}

.site-nav-item:hover {
    text-decoration: underline;
    text-decoration-color: #858585;
    text-underline-offset: 27px;
    text-decoration-thickness: 10px;
    text-underline-position: under;
}

.second {
    position: relative;
    left: 650px;
    bottom: 370px;
}

.text-block {
    position: absolute;
    bottom: 80px;
}

.text-block-2 {
    position: absolute;
    bottom: 150px;
}
